[defaults]
inventory            = inventories/production/netbox.py
#inventory           = inventories/staging/hosts.yml
vault_password_file  = .secrets/vault-pass.txt
host_key_checking    = False
hash_behaviour       = merge
retry_files_enabled  = False
log_path             = playbook.log
callback_enabled     = profile_tasks, netbox
deprecation_warnings = False

[diff]
always               = False
