[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
ansible      = "~=4.1"
pybatfish    = "*"
pyyaml       = "*"
requests     = "*"
gspread      = "*"
oauth2client = "*"
pynetbox     = "*"
paramiko     = "*"
ncclient     = "*"

[dev-packages]

[requires]

[scripts]
seed     = 'python3 ./helpers/seed.py'
develop  = 'ansible-playbook -vvvv --skip-tags "finalization" site.yml'
dryrun   = 'ansible-playbook -vvvv --check --skip-tags "nondry" site.yml'
migrate  = 'ansible-playbook -v --tags "migration" --skip-tags "develop" site.yml'
finalize = 'ansible-playbook -v --tags "finalization" --skip-tags "develop" site.yml'
