set system host-name {{ hostname }}
set system domain-name mgmt.noc.titech.ac.jp
set system time-zone Asia/Tokyo
set system login message "{{ banner }}"
set system services ssh protocol-version v2 root-login deny

set system syslog host {{ syslog.target }} any any
set system syslog file messages any notice authorization info
set system syslog file interactive-commands interactive-commands any
set system syslog time-format year milliseconds
set system syslog source-address {{ interface.mgmt.address }}

set system archival configuration transfer-on-commit archive-sites {{ archive.target }} password {{ archive.password }}

set system ntp boot-server {{ ntp.server }}
set system ntp server {{ ntp.server }}
set system ntp source-address {{ interface.mgmt.address }}
