{#
  Create VLANs
#}
{% for vlan in vlans %}
{% if vlan.description %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }} description "{{ vlan.description }}"
{% else %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% endif %}
{% endfor %}

{#
  Setup interfaces
#}
{% for interface, prop in interfaces.items() %}
{% if prop.description %}
set interfaces {{ interface }} description "{{ prop.description }}"
{% endif %}

{% if prop.auto_speed %}
set interfaces {{ interface }} ether-options auto-negotiation
{% else %}
set interfaces {{ interface }} speed 1g
{% endif %}

{% if prop.enabled %}
set interfaces {{ interface }} enable
{% else %}
set interfaces {{ interface }} disable
{% endif %}

{% if prop.poe %}
set poe interface {{ interface }}
{% endif %}

set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.mode }}
{% for vlan in prop.vlans %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vlan }}
{% endfor %}
{% endfor %}