{#
  Create VLANs
#}
{% for vlan in vlans %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% endfor %}

{#
  Clear configurations
#}
{% for interface, _ in interfaces.items() %}
delete interfaces {{ interface }}
delete poe interface {{ interface }}
{% endfor %}
{% for _, childlen in lag_members.items() %}
{% for child in childlen %}
delete interfaces {{ child }} unit 0
{% endfor %}
{% endfor %}

{#
  Configure interfaces: description, shutdown, speed, PoE, and VLANs
#}
{% for interface, prop in interfaces.items() %}

{% if prop.description %}
set interfaces {{ interface }} description "{{ prop.description }}"
{% endif %}

{% if prop.enabled %}
set interfaces {{ interface }} enable
{% else %}
set interfaces {{ interface }} disable
{% endif %}

{% if prop.physical and prop.auto_speed %}
set interfaces {{ interface }} ether-options auto-negotiation
{% elif prop.physical %}
set interfaces {{ interface }} speed {{ prop.speed }}
{% endif %}

{% if prop.physical and prop.poe %}
set poe interface {{ interface }}
{% endif %}

{% if prop.physical %}
set interfaces {{ interface }} unit 0 family ethernet-switching storm-control default
{% endif %}

{% if prop.native %}
set interfaces {{ interface }} native-vlan-id {{ prop.native }}
{% endif %}

{% if prop.physical and prop.mode %}
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.mode }}
{% for vlan in prop.vlans %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vlan }}
{% endfor %}
{% elif prop.mode %}
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.mode }}
{% for vlan in prop.vlans %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vlan }}
{% endfor %}
{% endif %}
{% endfor %}


{#
  Enable LAG feature and append the childlen to the parent
#}
{% for parent, childlen in lag_members.items() %}
set interfaces {{ parent }} aggregated-ether-options lacp active
{% for child in childlen %}
set interfaces {{ child }} ether-options 802.3ad {{ parent }}
{% endfor %}
{% endfor %}
