{# Clear configurations #}
delete vlans
{% for interface, _ in interfaces.items() %}
delete interfaces {{ interface }}
delete poe interface {{ interface }}
{% endfor %}

{# Create VLANs #}
{% for vlan in vlans %}
{% if vlan.used %}
set vlans {{ vlan.name }} vlan-id {{ vlan.vid }}
{% endif %}
{% endfor %}

{% for interface, prop in interfaces.items() %}

{# shutdown #}
{% if prop.enabled %}
set interfaces {{ interface }} enable
{% else %}
set interfaces {{ interface }} disable
{% endif %}

{# description #}
{% if prop.description %}
set interfaces {{ interface }} description "{{ prop.description }}"
{% endif %}

{# VLAN #}
{% if prop.physical and prop.mode %}
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.mode }}
{% for vlan in prop.vlans %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vlan }}
{% endfor %}
{% elif prop.mode %}
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.mode }}
{% for vlan in prop.vlans %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vlan }}
{% endfor %}
{% endif %}
{% if prop.native %}
set interfaces {{ interface }} native-vlan-id {{ prop.native }}
{% endif %}

{# link speed #}
{% if prop.physical and prop.auto_speed %}
set interfaces {{ interface }} ether-options auto-negotiation
{% elif prop.physical %}
set interfaces {{ interface }} speed {{ prop.speed }}
{% endif %}

{# PoE #}
{% if prop.physical and prop.poe %}
set poe interface {{ interface }}
{% endif %}

{# storm control #}
{% if prop.physical %}
set interfaces {{ interface }} unit 0 family ethernet-switching storm-control default
{% endif %}

{% endfor %}

{# LAG #}
{% for parent, children in lag_members.items() %}
set interfaces {{ parent }} aggregated-ether-options lacp active
{% for child in children %}
set interfaces {{ child }} ether-options 802.3ad {{ parent }}
{% endfor %}
{% endfor %}
