delete system archival configuration archive-sites ftp://conftank@172.31.4.14/titanet4/edge/{{ hostname }}/
delete system archival configuration archive-sites ftp://conftank@172.30.9.14/edge/{{ hostname }}/
set system archival configuration archive-sites ftp://conftank@172.31.4.14/titanet4/edge/{{ hostname }} password "$9$plyMB1hN-waZjvWGikqQz1RhrK8"
set system archival configuration archive-sites ftp://conftank@172.30.9.14/edge/{{ hostname }} password "$9$plyMB1hN-waZjvWGikqQz1RhrK8"